body
{
	width:100%;
	}
	
#header 
{
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:black;
	min-height:150px;
	float:left;
	display:block;
	width:100%;
    background-color: #cccccc;
    background-image:url('../images/misc/stone_texture1.jpg');
}

#menu a:link {text-decoration: none; color:white;}
#menu a:visited {text-decoration: none; color:white;}
#menu a:active {text-decoration: none; color:white;}
#menu a:hover {text-decoration: underline; ; color:white;}

a:link {text-decoration: underline; color:black;}
a:visited {text-decoration: underline; color:black;}
a:active {text-decoration: underline; color:red;}
a:hover {text-decoration: underline; ; color:red;}

#subContent
{
	border-style:solid;
	border-width:2px;
	border-color:black;
	width:100%;
}

#actionMessage
{
    color:red;
}

#playerResources
{
    color:white;
}

.tilePic
{
	width:80px;
	height:80px;
}

img.tilePic
{
	width:80px;
	height:80px;
}

.tilePic img
{
	width:80px;
	height:80px;
}

#menu
{
	float:left;
	width:150px;
	height:100%;
	border-right-style:solid;
	border-right-width:2px;
	border-right-color:black;
    background-color:#cccccc;
    background-image:url('../images/misc/stone_texture1.jpg');
}

#menu ul
{
		list-style-type:none; 
}

#content
{
	float:left;
	text-align:left;
    padding:25px;
}

#resourceTable
{
	width:300px;
	border-style:solid;
	border-width:1px;
	border-color:black;
    color:white;
}

.arrowUpCell
{
   text-align:center;
}

.arrowDownCell
{
   text-align:center;
}

.arrowPic
{
    width:25px;
    height:50px;
}